@model task13_2_2023.Models.Major

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Major</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
